ReWriteEngine On


RewriteRule ^api/quote/getall?$ api/quote/getall.php
RewriteRule ^api/quote/getsingle?$ api/quote/getsingle.php
RewriteRule ^404?$ 404.php



ErrorDocument 404 http://localhost/wiznug-restful-api/404
